# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
/win_opc_venv
/enProMail
/opcua_client_venv
my_cert.pem
my_private_key.pem
my_cert_last.pem
my_private_key_last.pem
/trusted
token.json